<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md ff-manuscript " aria-label="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="bi-slack"></i>
        Tiavina
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-end" id="navbar">
        <ul class="navbar-nav gap-4 fw-semibold">
          <li class="nav-item" *ngFor="let item of menus">
            <a class="nav-link" routerLink="{{item.root}}" routerLinkActive="border-bottom border-2 border-info" >
              <i class="{{item.icon}}"></i>
              {{item.label}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
